server {
	listen 80 default_server;
	listen [::]:80 default_server;

	server_name _;
	return 301 https://$host$request_uri;

}

server {
	# SSL configuration
	listen 443 ssl default_server;
	listen [::]:443 ssl default_server;

	root /var/www/html;

	# Add index.php to the list if you are using PHP
	index index.php index.html index.htm index.nginx-debian.html;

	server_name _;
	autoindex {{ var "AUTOINDEX" | default "on" }};

	location / {
		# First attempt to serve request as file, then
		# as directory, then fall back to displaying a 404.
		try_files $uri $uri/ /index.php?$args;
	}

	location ~ \.php$ {
		include snippets/fastcgi-php.conf;

		fastcgi_pass unix:/var/run/php/php7.3-fpm.sock;
	}

	ssl_certificate /etc/nginx/certificate/server.crt;
	ssl_certificate_key /etc/nginx/certificate/server.key;
}